@charset "utf-8";

/* ==========================================================================
  font-face
   ========================================================================== */

   @import url('common/font.css');
   
   /* ==========================================================================
	  Base styles & Helper
	  ========================================================================== */
   
   @import url('common/normalize.css');
   @import url('common/animated.css');
   @import url('common/owl.carousel.min.css');
   @import url('common/font-awesome.min.css');
   

/* base */
body, h1, h2, h3, h4, h5, h6, fieldset,ul, ol, dl, dt, dd, p, button ,figure{margin:0;padding:0;}
body{font:normal 14px/1.5 Noto Sans KR,'Noto Sans KR', AppleSDGothicNeo, Roboto, Droid sans, Microsoft NeoGothic, malgun gothic, sans-serif, Verdana;color:#666;letter-spacing:-1px;}
legend, caption{width:0;height:0;visibility:hidden;font-size:0;line-height:0;}
a{text-decoration:none;color:#666;}
img{vertical-align:middle;}
fieldset, button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;border-collapse:collapse;font-size:1em;}
iframe{width:100%;vertical-align:middle;border:0 none;}
hr{margin:20px 0;border:0 none;height:1px;background:#c9c9c9;}
button, input, optgroup, select, textarea{font-family:inherit;}
address {font-style: normal}
img {max-width:100%}
/*** mobile_base ***/
	/*iphone 글자크기 자동조정 방지*/
	/*body{-webkit-text-size-adjust:none;} */
	/*안드로이드 주황색 포커스 제거 */
	/*body{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} */
	/*iphone 폼요소 리셋 */
	/*input, select{-webkit-appearance:none;-webkit-border-radius:0}*/

	
/* ==========================================================================
   form
   ========================================================================== */
label{display:inline-block}
label input{vertical-align:middle;}
.textarea, .input{display:inline-block;height:40px;line-height:38px;padding:0px 10px;border:1px solid #cacaca;background:#fff;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;}
.input[type="file"]{padding:3px;line-height:36px;}
.select:hover, .textarea:hover, .input:hover{border-color:#777}
.select:focus, .textarea:focus, .input:focus{border-color:#777}
.select:disabled, .textarea:disabled, .input:disabled{background-color:#f9f9f9;}
.select{display:inline-block;height:40px;line-height:38px;padding-left:10px;border:1px solid #cacaca;vertical-align:middle;box-sizing:border-box;}
.textarea{width:100%;min-height:100px;padding:10px;resize:none;line-height:1.5;box-sizing:border-box;}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholde,
:-ms-input-placeholder,
.placeholder{color:#999;opacity:1;}

.checkbox, .radio{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;}
.checkbox input, .radio input{opacity:0;position:absolute;left:0;top:0;width:18px;height:18px;z-index:1;}
.checkbox input:checked, .radio input:checked, .checkbox input:focus, .radio input:focus{outline:none! important}
.checkbox input+.lbl, .radio input+.lbl{position:relative;display:inline-block;margin:0;line-height:18px;min-height:18px;padding:2px 0 2px 25px;font-weight:normal;vertical-align:top;word-break:break-all;}
.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:30px;text-indent:-999em;font-size:0;}
.checkbox input+.lbl:before,.radio input+.lbl:before{content:'';display:inline-block;height:10px;width:10px;position:absolute;left:0;top:0;box-sizing:border-box;}
.checkbox input+.lbl:after, .radio input+.lbl:after{content:'';display:inline-block;position:absolute;}
.checkbox input+.lbl:after{width:16px;height:16px;top:2px;left:0;background:transparent;border:1px solid #fff}

.radio input+.lbl:after{width:18px;height:18px;top:1px;left:0px;border-radius:100%;border:1px solid #fff;border-radius:50%}
.radio input:checked+.lbl:before {width: 10px; height:10px;border-radius:50%;top:6px;left:5px;background: #fff;}
.checkbox input:checked+.lbl, .radio input:checked+.lbl{font-weight:bold;}

.checkbox input:checked+.lbl:before {top:6px;left:4px;background:#fff;}
.checkbox input:disabled+.lbl:before, .radio input:disabled+.lbl:before, 
.checkbox input[disabled]+.lbl:before, .radio input[disabled]+.lbl:before, 
.checkbox input.disabled+.lbl:before, .radio input.disabled+.lbl:before,
.checkbox input:disabled+.lbl:after, .radio input:disabled+.lbl:after, 
.checkbox input[disabled]+.lbl:after, .radio input[disabled]+.lbl:after, 
.checkbox input.disabled+.lbl:after, .radio input.disabled+.lbl:after{opacity:0.5;}
.checkbox > input:focus + .lbl:before, .radio > input:focus + .lbl:before,
.checkbox.hover > input + .lbl:before, .radio.hover > input + .lbl:before{border-color:#777}
.lbl_area > label{margin:0.3em 2em 0.3em 0;}
input.readonly, select.readonly, textarea.readonly{background:#f9f9f9 !important;}
input.error, select.error, textarea.error{background:#f9ecec !important;}

/*파일첨부*/
.input_file{position:relative;padding-right:110px;}
.input_file > input{width:100%;vertical-align:middle;}
.input_file .btn_file{display:inline-block;position:absolute;right:0;top:0;overflow:hidden;vertical-align:middle;}
.input_file .btn_file .button{}
.input_file .btn_file input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;z-index:2;font-size:10em;line-height:2;cursor:pointer;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
span.input_file{display:inline-block;padding-right:0;}
span.input_file > input{width:400px;}
span.input_file .btn_file{position:relative;}

/*spinner*/
.ui-spinner{position:relative;display:inline-block;padding:0 45px;border:0 none;height:auto !important;}
.ui-spinner .spinner{display:inline-block;width:60px;text-align:center;line-height:40px;height:40px;font-size:26px;color:#c70202;border:0;padding:0;font-weight:bold;vertical-align:top;}
.ui-spinner-button{position:absolute;top:0;width:36px;height:36px;border:2px solid #c8c8c8;overflow:hidden;}
.ui-spinner-button .icon{position:absolute;left:-9999em;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ui-spinner-up{right:0;background:url(../images/common/spinner_plus-00cd601ea9145b7d1ebc64d11fae9e43.gif) no-repeat center center;}
.ui-spinner-down{left:0;background:url(../images/common/spinner_minus-7ff8f9329c0f1d25d356918732aa556d.gif) no-repeat center center;}

/* .ui-state-active{top:1px;} */
.inp_spinner{position:relative;display:inline-block;;padding:0 45px;}
.inp_spinner input{display:inline-block;width:60px;text-align:center;line-height:40px;height:40px;font-size:1.5em;color:#c70202;border:0;padding:0;font-weight:bold;vertical-align:top;}
.inp_spinner .btn{position:absolute;top:0;width:36px;height:36px;border:2px solid #c8c8c8;}
.inp_spinner .btn.minus{left:0;background:url(../images/common/spinner_minus-7ff8f9329c0f1d25d356918732aa556d.gif) no-repeat center center;}
.inp_spinner .btn.plus{right:0;background:url(../images/common/spinner_plus-00cd601ea9145b7d1ebc64d11fae9e43.gif) no-repeat center center;}

/* datepicker */
.datepicker{width:140px;}
.ui-datepicker-trigger{display:inline-block;width:32px;height:32px;margin-left:5px;background:url(../images/common/btn_datepicker-876769a9d023194c328a0d7b7e604635.gif) no-repeat center center;text-indent:-999em;vertical-align:middle;}

/* switch */
.switch{display:inline-block;vertical-align:middle;}
.switch input{position:absolute;left:-9999px;opacity:0;}
.switch span{position:relative;width:65px;height:26px;background:#e8e8e8;display:inline-block;;border-radius:13px;cursor:pointer;-webkit-transition:150ms linear;transition:150ms linear;font-size:12px;}
.switch span:before{content:"off";position:absolute;right:10px;top:5px;color:#999999;text-transform:uppercase;line-height:14px;}
.switch span:after{-webkit-transition:150ms linear;transition:150ms linear;height:22px;width:22px;display:block;border-radius:999px;content:"";background:#fff;position:absolute;top:2px;left:2px;}
.switch input:checked+span{background:#dd0000;}
.switch input:checked+span:before{content:"on";left:12px;color:#fff;}
.switch input:checked+span:after{left:41px;}

/* width */
.inp_wid{position:relative;}
.inp_wid:after{content:'';display:block;clear:both;}
.inp_wid + .inp_wid{margin-top:5px;}
.inp_wid>input, .inp_wid>select, .inp_wid>label, .inp_wid>.button{float:left;width:100%;margin-left:2%;}
.inp_wid>.button{padding-left:0 !important;padding-right:0 !important;}
.inp_wid>input:first-child, .inp_wid>select:first-child, .inp_wid>label:first-child, .inp_wid>.button:first-child{margin-left:0 !important;}
.inp_wid.wid2>input, .inp_wid.wid2>select, .inp_wid.wid2>label, .inp_wid.wid2>.button{width:49%;}
.inp_wid.wid3>input, .inp_wid.wid3>select, .inp_wid.wid3>label, .inp_wid.wid3>.button{width:32%;}
	.inp_wid.wid3 .col2{width:66%;} 
.inp_wid.wid4>input, .inp_wid.wid4>select, .inp_wid.wid4>label, .inp_wid.wid4>.button{width:23.5%;}
	.inp_wid.wid4 .col2{width:49%;}
	.inp_wid.wid4 .col3{width:73.5%;}
.inp_wid.inp_mail .input{width:45%;}
.inp_wid.inp_mail span{display:inline-block;width:10%;text-align:center;float:left;line-height:40px;}
.inp_wid.inp_mail .input{margin-left:0;}
.inp_wid.inp_mail .select{width:30%;margin-left:2%;}

.alert_tip{position:absolute;color:#fff;background:#eb1c23;padding:3px 5px;border-radius:5px;font-size:0.875em;z-index:300;box-sizing:border-box;}

/* ==========================================================================
   common
   ========================================================================== */
.fz_dw{font-size:0.875em;}
.fz_up{font-size:1.125em;}

.t_white{color:#fff}
.t_blk{color:#222}
.t_red{color:#dd0000}
.t_org{color:#ea7724}
.t_grn{color:#69bd25}
.t_blue{color:#4d8bff !important;}
.t_gray{color:#999}
.t_yellow{color:#ffc000;}
.t_kakao {color: #2a1616;}

.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb50{margin-bottom:50px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.w60{width:60px}
.w80{width:80px}
.w100{width:100px}
.w120{width:120px}
.w140{width:140px}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px}
.w_50{width:50%}
.w_80{width:80%}
.w_100{width:100%}



.w_none{display:none;}
.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;}
.hidden{overflow:hidden;}
.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bgLayer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;z-index:160;}

.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{
	filter:url(filters.svg#gray);/* Gecko and FF*/
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}
a.grayscale:hover img, a.grayscale:focus img, a.grayscale:active img{
	filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
	-webkit-filter:none;}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{height:50px;width:50px;background:rgba(0,0,0,.2);-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}

/* ==========================================================================
   Layout
   ========================================================================== */
#wrap {position: relative;width: 100%;}

/* Container */
#container {box-sizing:border-box;padding-top:150px;}
.inner {position: relative;max-width: 1100px; padding: 0 10px;margin: 0 auto;box-sizing:border-box;}
.main .contents {padding-top:0;}
.contents {padding-top: 11.428em;}
h3 {font-size: 2.857em;color: #222;margin-bottom: 2.5em;text-align: center;font-weight: 15;}
.main h3 {font-size: 14px ;margin-bottom: 0;;}
section .inner {padding-bottom: 10.714em;}

/* gnb */
#header {position:fixed;width: 100%; background: #fff; top:0;z-index: 20;height:150px;border-bottom:1px solid #dcdcdc;}
#header .inner {overflow:hidden}
#header .inner #logo {position: absolute; width:226px; height:34px;background:url(../images/common/logo.png)0 0 no-repeat; font-size: 0; left:10px;top:64px;}
#header .inner #logo a{display:block;height:100%;}
#header #gnb {height:150px;float:right;}
#header #gnb ul li {float:left; padding: 0 21px;display: inline-block;line-height:150px;font-size: 1.339em;}
#header #gnb ul li a {color: #222;display: block;}
#header #gnb ul li a span {transition:.3s all ease;-webkit-transition: .3s all ease;position: relative;}
#header #gnb ul li a:hover,#header #gnb ul li a:focus,#header #gnb ul li.active a{color: #0f87c1;}
#header #gnb ul li a:hover span:after,#header #gnb ul li a:focus span:after,#header #gnb ul li.active a span:after {content:""; display: block; width: 100%; height:2px; background: #0f87c1; position:absolute;bottom:-3px;left:0;animation: mymove 0.5s;-webkit-animation: mymove 0.5s}
@-webkit-keyframes mymove {
	0% {width: 0;}
	100% {width: 100%;}
}
@keyframes mymove {
	0% {width: 0;}
    100% {width: 100%;}
}
#header .btn_gnb,#header #gnb .close {display: none;}

#footer {background: #1a1f23;color: #7a7f80;}
#footer .inner {padding-top: 75px;padding-bottom: 65px;}
#footer #logo {width: 143px; height:21px; background:url(../images/common/logo_footer.png)0 0 no-repeat;text-indent: -999em;padding-bottom: 25px;}
#footer .foot_info ul {padding: 10px 0;}
#footer .foot_info ul li {float:left;padding-left: 20px;}
#footer .foot_info ul li:first-child {padding-left: 0;}
#footer .foot_info ul li span {color: #d0d7d9;padding-right: 10px;}
#footer .family_site_wrap {position:absolute;top:80px;right:10px;}
#footer .family_site_wrap .family_site_sel {display: inline-block;width: 110px;position: relative;;border-bottom:1px solid #d0d7d9;;background: #1a1f23;vertical-align: middle;-webkit-box-sizing: border-box;box-sizing: border-box;}
#footer .family_site_wrap .family_site_sel a {display: block; padding: 10px;font-size: 13px;overflow: hidden;color: #d0d7d9;background: url(../images/common/bg_sel.png)0 0 repeat;border-bottom: 1px solid #9a9a9a;}
#footer .family_site_wrap .family_site_sel>a {position: relative; padding-right: 31px;line-height: 18px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;vertical-align: middle;background: url(../images/common/bg_sel_arr.png)98% 50% no-repeat;}
#footer .family_site_wrap .family_site_sel ul {display: none;position: absolute;left: -1px;right: -1px; bottom: 100%;width: 100%;z-index: 2;transition: 0.3s all ease}
#footer .family_site_wrap .family_site_sel.on ul {display: block;transition: all 0.3s ease}
/* ==========================================================================
   component
   ========================================================================== */

/* skip_Navi */
#skipNavi{position:relative;}
#skipNavi a{display:block;position:absolute;left:0;top:-30px;width:300px;text-align:center;color:#fff;background:#000;z-index:200;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* toTop */
#toTop{display:none;position:fixed;right:10px;bottom:10px;width:60px;height:60px;font-size:0;text-indent:-1000px;text-align:center;color:#fff;background: #4d8bff url() 0 0 no-repeat;opacity:0.7;filter:alpha(opacity=70);border-radius:100%;z-index: 20;}
#toTop:hover, #toTop:focus, #toTop.hover{opacity:1;filter:alpha(opacity=100);}
#toTop:after {content: '';display: block;width: 20px; height: 20px;border-right: 2px #fff solid;border-bottom: 2px #fff solid;transform: rotate(-135deg);position: absolute;left: 50%;top: 50%;margin-left: -10px; margin-top: -7px;}

/* 제목요소 */
.cont_tit{font-size:1.286em;color:#222;margin:2em 0 .833em;}
.cont_tit:first-child{margin-top:0;}
.line_tit{text-align:center;font-size:1.714em;color:#222222;}
.line_tit span{display:ininle-block;border-bottom:1px solid #222222;}

/* 버튼 */
.button_wrap{position:relative;margin-top:50px;text-align:center;overflow:hidden}
.button{display:inline-block;padding:0px 15px;line-height:86px;border:1px solid #fff;color:#3d7df6;background:#fff;text-align:center;vertical-align:middle;font-weight:15;box-sizing:border-box;font-size:14px;cursor:pointer;-webkit-appearance:none;-webkit-border-radius:9px;border-radius:9px;}
.button.disabled{opacity:0.5;cursor:not-allowed;filter:url(filters.svg#gray);filter:gray;-moz-filter:grayscale(1);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-filter:grayscale(1);}
	.button.h20{padding:0px 5px;font-size:11px;line-height:18px;}
	.button.h30{padding:0px 10px;font-size:13px;line-height:28px;}
	.button.h50{padding:0px 25px;font-size:16px;line-height:48px;}

	.button.btn_gray{background:#222;color:#fff;}
	.button.btn_org{background:#fff;border-color:#ee7039;color:#ee7039;}
	.button.btn_red{background:#dd0000;border-color:#dd0000;color:#fff;}
	
	.button.w100{width:100px;padding-left:0;padding-right:0;}
	.button.w200{width:200px;padding-left:0;padding-right:0;}
.btn_sort{display:inline-block;border:1px solid #b4b4b4;vertical-align:middle;}
.btn_sort a{display:inline-block;padding:5px 20px;border-left:0px solid #b4b4b4;text-align:center;line-height:20px;font-size:0.875em;}
.btn_sort a:first-child{border-left:0 none;}
.btn_sort a.on{color:#fff;background:#dd0000;}

.btn_wrap{position:relative;margin-top:25px;text-align:center}
.btn_wrap.fixed{padding:15px;margin:0;background:#fff;position:fixed;left:0;right:0;bottom:0;box-shadow:0 0 10px #ccc;}
.btn_wrap:after{content:'';display:block;clear:both;}
.btn_wrap>.button{float:left;width:100%;margin-left:2%;padding-left:0;padding-right:0;}
.btn_wrap>.button:first-child{margin-left:0;}
.btn_wrap.btn1>.button + .button{margin-top:10px;margin-left:0;}
.btn_wrap.btn2>.button{width:49%;}
.btn_wrap.btn3>.button{width:32%;}
.btn_wrap.btn4>.button{width:23.5%;}

.btn_txt{position:relative;display:inline-block;color:#222222;font-size:16px;vertical-align:middle;line-height:40px;letter-spacing:-2px}
.btn_txt span{position:relative;display:inline-block;color:#fff;background:#222222;width:40px;height:40px;text-align:center;border-radius:50%;margin-left:10px;text-indent:-2px;vertical-align:top;}
.btn_txt:before{content:'';display:block;position:absolute;right:0;top:0;width:40px;height:40px;border-radius:50%;background:#222;-webkit-transition:all 0.3s;transition:all 0.3s;}
.btn_txt:hover:before{-webkit-transform:scale(1.2);transform:scale(1.2);}
.btn_txt.btn_red span{background:#dd0000;}
.btn_txt.btn_red:before{background:#dd0000;}
.btn_txt.h60{line-height:60px;font-size:24px;}
.btn_txt.h60:before{width:60px;height:60px;}
.btn_txt.h60 span{width:60px;height:60px;margin-left:15px;}
.btn_txt_wrap{text-align:center;margin-top:1em;padding:1em 0;}
.btn_txt_wrap:after{content:'';display:block;clear:both;}
.btn_txt_wrap .left{float:left;}
.btn_txt_wrap .right{float:right;}
.btn_txt_wrap .btn_txt.h60{margin:-10px 0;}
.btn_txt_wrap .btn_txt + .btn_txt{margin-left:20px;}

.sel_list{position:relative;border:1px solid #c8c8c8;background:#fff;}
.sel_list a{display:block;padding:7px;font-size:14px;overflow:hidden;padding-right:41px;}
.sel_list > a{background:url(../images/common/bg_sel_list-14d7bc04a272ff8d4a51937cf7404fa4.gif) no-repeat right center;}
.sel_list a span{float:left;}
.sel_list a strong{float:right;}
.sel_list ul{display:none;position:absolute;left:-1px;right:-1px;border:1px solid #c8c8c8;border-top:0 none;top:100%;width:100%;background:#fafafa;}
.sel_list.on ul{display:block;}
.sel_list ul a:hover,
.sel_list ul a:focus{background:#eee;}
.sel_list ul .on a{font-weight:bold;color:#222;}
/* icon */
.ic_txt{display:inline-block;border:1px solid #4c4c4c;text-align:center;color:#fff;padding:0px 5px;vertical-align:middle;background:#4c4c4c;font-size:0.875em;line-height:1.3;}
.ic_txt.ic_wht{color:#dd0000;border-color:#dd0000;background:#fff;}
.ic_txt.ic_red{background:#dd0000;border-color:#dd0000;}
.ic_txt.ic_green{background:#18a327;border-color:#18a327;}
.ic_call{padding-left:15px;background:url(../images/common/ic_call-770b6ccc024d5eca5b38a7b11f9c7474.gif) no-repeat left center;}
.ic_state{display:inline-block;min-width:60px;text-align:center;color:#fff;padding:3px 5px;vertical-align:middle;background:#505050;font-size:0.875em;font-style:normal;border-radius:15px;}
.ic_state.red{background:#dd0000;}
.ic_state.yellow{background:#ffc000;color:#505050;}
.ic_state.blue{background:#3fb0ff;}

/* 탭메뉴 */
.tabmenu{margin-bottom:40px;text-align:center;}
.tabmenu > li{display:inline;}
.tabmenu > li > a{display:inline-block;width:158px;padding:1em 0;text-align:center;background:#3c3c3c;color:#fff;font-weight:bold;}
.tabmenu > li > a:hover,
.tabmenu > li > a:focus,
.tabmenu > li > a:active,
.tabmenu > li.on > a{color:#fff;background:#dd0000;}
.tabmenu2{margin-bottom:30px;}
.tabmenu2 > li{float:left;width:50%;}
.tabmenu2 > li > a{position:relative;display:block;padding:0.5em 0;border:1px solid #eeeeee;border-bottom-color:#dd0000;text-align:center;background:#eee;font-weight:bold;color:#666666;}
.tabmenu2 > li.on > a{color:#222222;background:#fff;border-color:#dd0000;border-bottom-color:#fff;}
.tab_cont{display:none}
.tab_cont.on{display:block}

/*테이블*/
.table_wrap{}
.table{border-top:1px solid #c8c8c8;table-layout:fixed;}
.table th, .table td{border-bottom:1px solid #c8c8c8;text-align:center;}
.table th{padding:15px 20px;color:#222;}
.table td{padding:10px 20px;word-break:break-all;}
.table thead th{border-top-color:#666;}
.table tfoot th,.table tfoot td{background:#f3f3f3;}
.table img{max-width:100%;}
.table .bg_gray th, .table .bg_gray td{background:#f0f0f0;}
.table .none{padding-top:2em !important;padding-bottom:2em !important;}
.table.tbl_left td{border-left:1px solid #c8c8c8;text-align:left;}
.table.tbl_left .first{border-left:0 none;}
.table.tbl_hover tr:hover th,.table.tbl_hover tr:hover td{background:#fafafa;}
.table.tbl_form textarea{height:300px;}
.table .t_center{text-align:center;}
.table .t_left{text-align:left;}
.table .t_right{text-align:right;}
.table .bg{background:#f3f3f3;}
.table .bg strong{color:#222;}
.table2 th, .table2 td{border:1px solid #dddddd;border-right:0 none;padding:0.5em 0.3em;text-align:center;}
.table2 .td_right{text-align:right;color:#ff0000}
.table2 th{background:#f0f0f0;}
.table2 .odd td{background:#fafafa;}
.table2 th:first-child, .table2 td:first-child{border-left:0 none;}
.table2 .t_left{text-align:left;}
.table2 .t_right{text-align:right;}
.table table.in_table{}
.table table.in_table th,
.table table.in_table td{padding:5px;text-align:center;background:none;border:1px solid #ddd;border-width:1px 0;}
.table table.in_table th{color:#666;background:#fafafa;}

.tbl_search{margin-bottom:5px;text-align:right;}
.tbl_search select{width:70px;}
.tbl_search input{width:150px;}

/* list_view */
.list_view{border-top:1px solid #e3e3e3;font-size: 1.142em;color: #222}
.list_view > li{padding:25px 40px;border-bottom:1px solid #e3e3e3;overflow:hidden;}
.list_view .tit h4{float:left;color:#222;font-weight: normal;}
.list_view .tit .date{float:right;display:block;color: #898989;}
.list_view .tit .num{display:inline-block;}
.list_view .tit .ic_txt{margin-right:5px;}
.list_view .cont{padding:50px;min-height:200px;word-break:break-all;;}
.list_view .cont img{max-width:100%;}
.list_view .cont *{font-family:inherit !important;}
.list_view .img{text-align:center;margin-bottom:2em;}
.list_view .link{border-top:1px solid #000000;}
.list_view .link a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_view .link .ic_txt{margin-right:6px;}
.list_view + .list_navi{border-top:0 none;}
.list_view .list_file {padding: 14px 40px ;}
.list_view .list_file a {display: block;color: #222;}
.list_view .list_file a:hover,.list_view .list_file a:focus {text-decoration: underline}
.list_view .list_file a + a {margin-top: 1.25em;}
.list_view .list_file a i {padding-right: 10px;}

.list_navi{border-top:1px solid #e6e6e6;}
.list_navi li{padding:10px 20px;border-bottom:1px solid #e6e6e6;}
.list_navi li>a,.list_navi li>span{display:block;padding-left:36px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.list_navi .prev>a, .list_navi .prev>span{background:url(../images/common/list_prev-d21254787ff2e8f24f73574cab9a0caa.png) no-repeat left center;}
.list_navi .next>a, .list_navi .next>span{background:url(../images/common/list_next-f01d67cab0c22bb093834429bab443c0.png) no-repeat left center;}

/*페이징*/
.list_paging{clear:both;margin-top:2.5em;text-align:center;}
.list_paging a{display:inline-block;}
.list_paging span {margin: 0 10px}
.list_paging a, .list_paging strong {display: inline-block;width: 26px;height: 26px;line-height: 26px;border:1px solid #bfbfbf; background: #bfbfbf;vertical-align: top;font-size: 1.142em;color: #fff;}
.list_paging strong {border-color: #4d8bff;background: #4d8bff;}
.list_paging .btn {width: 28px; height: 28px;font-size: 0;border: none}
.list_paging .btn.btn_first {background: url(../images/common/btn_paging_first.jpg)0 0 no-repeat;}
.list_paging .btn.btn_prev {background: url(../images/common/btn_paging_prev.jpg)0 0 no-repeat;}
.list_paging .btn.btn_next {background: url(../images/common/btn_paging_next.jpg)0 0 no-repeat;}
.list_paging .btn.btn_last {background: url(../images/common/btn_paging_last.jpg)0 0 no-repeat;}

/* .list_paging > img{opacity:0.4;filter:alpha(opacity=40);}
.list_paging a img{opacity:1;filter:alpha(opacity=100);}
.list_paging span{margin:0 10px}
.list_paging span a, .list_paging span strong{display:inline-block;width:25px;line-height:25px;vertical-align:middle;}
.list_paging span a:hover, 
.list_paging span a:focus, 
.list_paging span a:active,
.list_paging span strong{color:#dd0000;font-weight:bold;} */

/* faq */
/* .faq_list{border:1px solid #000;border-width:1px 0;}
.faq_list > dt{position:relative;padding:0 0 0 5.625em;border-top:1px solid #ccc;}
.faq_list > dt:before{content:'Q';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#000;}
	.faq_list > dt.no_list{padding:1.875em 1.5em;text-align:center;background:none;color:#999;}
.faq_list > dt:first-child{border-top:0 none;}
.faq_list > dt > a{display:block;padding:1.125em 1.5em 1.125em 0px;}
.faq_list > dt > a:hover,
.faq_list > dt > a:focus,
.faq_list > dt > a:active,
.faq_list > dt.on > a{font-weight:bold;color:#222;}
.faq_list > dt.on{background-color:#f7f7f7;}
.faq_list > dt.on > a{}
.faq_list > dd{display:none;position:relative;padding:1.125em 1.5em 1.125em 5.625em;background:#f7f7f7;color:#333333;}
.faq_list > dd:before{content:'A';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#dd0000;} */


/*etc*/
.m_img{display:none;}
.img_area{text-align:center;overflow:hidden;}
.img_area img{max-width:100%;}

.txt_list{padding-left:1.2em;}
.txt_list li{margin-top:5px;list-style:disc;}
.txt_list li:first-child{margin-top:0;}
.indent_list li{padding-left:10px;text-indent:-10px}
.num_list{padding-left:1.5em;}
.num_list li{list-style-type:decimal;}
.dot_list li{position:relative;padding-left:13px;margin-bottom:5px;}
.dot_list li:after{content:'';width:2px;height:2px;position:absolute;left:0;top:10px;border-radius:100%;background:#666;}

.dot_list2 > li{padding-left:12px;margin-bottom:10px;background:url(../images/common/dot_li-23bd1156048663a263e3de00561a8310.gif) no-repeat left 10px;font-size:16px;}
.boxStyle{padding:15px 12px;border:1px solid #d0d2d8;}

.no_img{position:relative;background:#eee;text-align:center;}
.no_img img{max-width:100%;opacity:0;filter:alpha(opacity=0);}
.no_img span{display:inline-block;width:120px;height:18px;position:absolute;left:50%;top:50%;margin:-9px 0 0 -60px;background:url(../images/common/logo-00766ab5834ebce19f024ff3e5d732c5.png) no-repeat;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;font-size:0;color:transparent;opacity:0.5;filter:alpha(opacity=50);
	filter:url(filters.svg#gray);
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}

#loading{position:fixed;left:0;right:0;top:0;bottom:0;background:url(../images/common/bg_pop-2de0830373ff96340a3783c8a11894e7.png);z-index:150;}
#loading p{position:absolute;left:50%;top:50%;margin:-62px 0 0 -80px;}

.sub_menu .padding_0{padding:0 !important;}
.sub_menu .padding_0 li{float: none;}
/* ==========================================================================
   popup
   ========================================================================== */

.pop_bg{display:none;position:fixed;left:0;right:0;top:0;bottom:0;padding:30px 10px;overflow-x:hidden;overflow-y:auto;background:url(../images/common/bg_pop-2de0830373ff96340a3783c8a11894e7.png);z-index:110;}
.pop_wrap{position:relative;width:640px;margin:0 auto;background:#fff;border:1px solid #333;box-sizing:border-box;}
.pop_wrap h1{padding:20px 55px 0px 20px;font-size:1.5em;line-height:24px;color: #222;}
.pop_wrap h1 span{display:inline-block;padding:5px;border-bottom:1px solid #222;}
.pop_wrap .pop_cont{padding:30px 20px;}
.pop_wrap .pop_foot{padding:30px 20px;background:#f0f0f0;}
.pop_wrap .btn_close{display:block;position:absolute;right:20px;top:21px;width:32px;height:32px;background:url(../images/common/pop_close2-892a6c0a730b7227e86a7de4aeac3a56.png) no-repeat center center;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-9999em;overflow:hidden;}

.m_only {display: none;}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width:1040px){
#header	{background:none; border:none;height:auto;}
#header .inner {padding: 20px 0 20px 30px;}
#header .inner #logo {background-image: url(../images/common/logo_m.png); width: 139px; height:21px;position: relative;top:1px;}
#header.m_header {background: #fff;border-bottom:1px solid #dcdcdc ;}
#header.m_header #logo {background-image: url(../images/common/logo_m_scroll.png)}

#header .btn_gnb {display: block;font-size: 0; position: absolute;right:0; top:0; width:60px; height:60px; }
#header .btn_gnb a {display: block; width: 100%; height:100%; position: relative;}
#header .btn_gnb a i {width: 26px; height:3px; background: #fff;display: block;top:50%; position:absolute;left:22px; }
#header .btn_gnb a i:before, #header .btn_gnb a i:after {content:""; display: block;width: 40px; height:3px;left:-14px; background: #fff;position:absolute;transition-duration: 0.3s, 0.2s;transition-delay: 0.5s, 0s;-webkit-transition-duration: 0.3s, 0.2s;-webkit-transition-delay: 0.5s, 0s; }
#header .btn_gnb a i:before {top: -10px;transition-property: top,transform;-webkit-transition-property: top,transform;}
#header .btn_gnb a i:after {bottom: -10px;transition-property: bottom,transform; -webkit-transition-property: bottom,transform;}

#header.m_header .btn_gnb a i {background: #000;  }
#header.m_header .btn_gnb a i:before, #header.m_header .btn_gnb a i:after {background: #000}


#header #gnb {position: fixed;width: 100%;max-width:275px; right:-800px;transition: right 0.8s ease;top: 0;overflow: hidden;height:100%;padding-top: 100px;padding-bottom: 200px;z-index: 10;background: #fff;box-sizing:border-box}
#header #gnb:before {content:"";display: block;width:180px; height:168px; background: url(../images/common/bg_gnb_m.png);position:absolute;bottom:0;left:0;background-size:100%;}
#header #gnb:after {content:"";display: block;width:192px; height:28px; background: url(../images/common/logo_gnb_m.png);position:absolute;bottom:20px;right:20px}
.gnb_open #header #gnb {right:0;;}
#header #gnb ul li {float:none;display: block;line-height: 62px; text-align: right;;}
html.gnb_open:before {content: '';display: block;opacity: .5;background: #000;width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 10;}
#header #gnb .close {display: block;position:absolute;top:25px;left:25px;}
#header #gnb .close a {width: 42px; height:42px;display: block;background: url(../images/common/btn_close.png);}
/* #header #gnb ul li a:hover,#header #gnb ul li a:focus,#header #gnb ul li.active a{color: #0f87c1;} */
#header #gnb ul li a:hover span:after,#header #gnb ul li a:focus span:after,#header #gnb ul li.active a span:after {display: none;}
}
@media only screen and (max-width:840px){
body {font-size: 12px;}
.m_only {display: block;}
.pc_only {display: none;}
#header #gnb:after {width: 96px; height:14px; background-size:100%;;}
#header #gnb {padding: 50px 0 100px;}

#footer .inner {padding: 30px 10px;}
#footer #logo {margin: 0 auto;}
#header #gnb .close a {background-size: 100%;width: 21px; height:21px;;}

#footer .foot_info {text-align: center;}
#footer .foot_info ul {width: 290px;margin: 0 auto;}
#footer .foot_info ul li {display: inline; float:none;;}
#footer .foot_info ul li:last-child {padding: 0;}
#footer .family_site_wrap {display: none;}

.list_view > li {padding: 15px 20px;}
.list_view .cont {padding: 25px;}
.list_view .list_file {padding: 10px;}
.list_view .list_file a + a {margin-top: 10px;}
}

@media only screen and (max-width:560px){
h3 {font-size: 27px;}
.button_wrap {margin-top: 30px;}
.contents {padding-top: 9em;}
#header .inner {padding: 10px 0}
#header .btn_gnb {width:40px; height:40px; }
#header .btn_gnb a i {width: 16px }
#header .btn_gnb a i:before, #header .btn_gnb a i:after {width: 30px; height:3px;left:-14px; ; }
#header .btn_gnb a i:before {top: -8px;}
#header .btn_gnb a i:after {bottom: -8px;}

#toTop { width: 40px;height: 40px;line-height: 40px;}
#toTop:after { width: 10px;height: 10px;margin-left: -5px;margin-top: -4px;}

.list_paging span {margin: 0 5px}
.list_paging a, .list_paging strong {width: 20px;height:20px;line-height: 19px;}
.list_paging .btn {width: 22px; height: 22px;background-size: 100% !important ;}

.list_view {border-top: none;}
.list_view .tit h4 {float:none;}
.list_view .tit .date {float:none;display: block;}
}